.kolm_pilti {
    display: flex;
    margin-top: 10%;

}
.aluspilt {
    width: 100%;
    margin: 2%;
    padding-bottom: 50px;
}
.aluspildi_tekst {
    font-size: 60px;
}
.centered {
    top: 97%;
  }
@media only screen and (max-width: 900px) {
    .kolm_pilti {
        display: block;
    }
  }