html {
  padding: 0px;
  margin: 0px;
  font-family: 'Oswald', sans-serif;
}
body {
  background-color: rgb(46, 124, 228);
  color: white;
  padding: 0px;
  margin: 0px;
}
h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 40px;
  margin-top: 100px;
}
li {
  margin: 10px 0px;
}
img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}
.secondary_background {
  background-color: rgba(10, 12, 24, 0.267);
}
a {
  font-weight: bold;
  color: white;
}
a:hover {
  background-color: black;
}
p {
  font-size: 20px;
}
::selection { 
  background: black;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.aluspildi_tekst {
  font-size: 60px;
}
.aluspilt{
  position: relative;
}
.aluspilt img {
  z-index: -1;
}
.third_background {
  background-color: rgba(0, 38, 255, 0.267);
}
.snowflake {
  position: absolute;
  width: 5px;
  height: 5px;
  background: linear-gradient(white, white);
  border-radius: 50%;
  filter: drop-shadow(0 0 5px white);
  z-index: 2;
}
#snow{
  max-height: 500px;
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0.63);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  text-align: center;
  padding: 15px;
  z-index: 2;

}

/* Links inside the navbar */
.navbar a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}