iframe {
  border: 0px;
  height: 600px; 
  width: 1200px;
  display: block;
  margin: 0 auto;
  padding: 50px;
  margin: 0 auto;
}
.video {
  margin-top: 50px;
}
.maakonnad ol{
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.maakonnad a {
  color: #444;
}
.maakonnad a:hover {
  color: white;
}
.info {
  text-align: center;
  padding: 50px;
  margin: 0px;
}
/* Start of https://www.w3schools.com/howto/howto_js_collapsible.asp */
/* Style the button that is used to open and close the collapsible content */
.collapsible {
    margin-left: 5px;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 200px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 16px;
    border-radius: 50px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: rgb(127, 137, 224);
    color: white;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    color: black;
    background-color: #f1f1f1;
    border-radius: 50px;
    text-align: left;
  }
  /* End of https://www.w3schools.com/howto/howto_js_collapsible.asp */