h1 {
    color: rgb(217, 230, 184);
}
li {
    margin: 10px 0px;
}
img {
    width: 100%;
    height: auto;
}
.video {
 width: 100%;
 height: 600px;
}
/* https://www.w3schools.com/howto/howto_js_collapsible.asp */
/* Style the button that is used to open and close the collapsible content */
.collapsible {
    margin-left: 5px;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 200px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 50px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: rgb(127, 137, 224);
    color: white;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    color: black;
    background-color: #f1f1f1;
    border-radius: 50px;

  }
  /* Container holding the image and the text */
.image_with_text {
    position: relative;
    text-align: center;
    color: white;

}
.image_text {
    font-size: 36px;
}
.maakonnad{
    display: inline-block;
    width: 100%;
}
.maakonnad ul {
    width: 30%;
}
.maakonnad img {
    width: 50%;
}
  /* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }