h1 {
    color: rgb(217, 230, 184);
    text-align: center;
    font-size: 40px;
    margin: 15px 30px;
}
h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;
    margin: 15px 30px;
}
li {
    margin: 10px 0px;
}
ol li{
      list-style-type: none;
 }